.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.App > *:not(:first-child) {
  border: 1px solid grey;
  padding: 1em;
  border-radius: 0.3em;
  width: 300px;
  margin: 0 auto;
}

h2 {
  color: hotpink;
}

.note {
  font-style: italic;
  color: grey;
}
